In [4]:
!pip install mysql-connector-python
import mysql.connector

Requirement already satisfied: mysql-connector-python in /opt/anaconda3/lib/python3.13/site-packages (9.5.0)

In [7]:
cnx = mysql.connector.connect(
    user = 'root', 
    password = 'PASWORD.', 
    host = 'localhost', 
    database = 'ih_gambling'  
)

In [10]:
import pandas as pd

# Opcion 1
#df = pd.read_sql("SELECT * FROM customer", cnx)

#opcion 2

query = "SELECT * FROM customer"
df_customer = pd.read_sql(query, cnx)



df_customer.head()

/var/folders/5y/17c580n102l_8h1zl2chpc580000gn/T/ipykernel_70874/1681628330.py:9: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_customer = pd.read_sql(query, cnx)

,CustId,AccountLocation,Title,FirstName,LastName,CreateDate,CountryCode,Language,Status,DateOfBirth,Contact,CustomerGroup
0,4188499,GIB,Mr,Elvis,Presley,01/11/2011,US,en,A,18/10/1948,Y,Bronze
1,1191874,GIB,Mr,Jim,Morrison,19/09/2008,US,en,A,27/07/1967,Y,Gold
2,3042166,GIB,Mr,Keith,Moon,11/01/2011,UK,en,A,26/07/1970,Y,Gold
3,5694730,GIB,Mr,James,Hendrix,10/10/2012,US,en,A,05/04/1976,N,Bronze
4,4704925,GIB,Mr,Marc,Bolan,26/03/2012,UK,en,A,11/03/1982,Y,Bronze

In [11]:
df_customer.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 12 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   CustId           10 non-null     int64
 1   AccountLocation  10 non-null     object
 2   Title            10 non-null     object
 3   FirstName        10 non-null     object
 4   LastName         10 non-null     object
 5   CreateDate       10 non-null     object
 6   CountryCode      10 non-null     object
 7   Language         10 non-null     object
 8   Status           10 non-null     object
 9   DateOfBirth      10 non-null     object
 10  Contact          10 non-null     object
 11  CustomerGroup    10 non-null     object
dtypes: int64(1), object(11)
memory usage: 1.1+ KB

In [22]:
# Define the list of columns

df_customer = pd.DataFrame(columns=[
    'CustId', 'AccountLocation', 'Title', 'FirstName', 'LastName',
    'CreateDate', 'CountryCode', 'Language', 'Status', 'DateOfBirth',
    'Contact', 'CustomerGroup'
])


df_customer.info()

df_customer.columns

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 0 entries
Data columns (total 12 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   CustId           0 non-null      object
 1   AccountLocation  0 non-null      object
 2   Title            0 non-null      object
 3   FirstName        0 non-null      object
 4   LastName         0 non-null      object
 5   CreateDate       0 non-null      object
 6   CountryCode      0 non-null      object
 7   Language         0 non-null      object
 8   Status           0 non-null      object
 9   DateOfBirth      0 non-null      object
 10  Contact          0 non-null      object
 11  CustomerGroup    0 non-null      object
dtypes: object(12)
memory usage: 132.0+ bytes

Index(['CustId', 'AccountLocation', 'Title', 'FirstName', 'LastName',
       'CreateDate', 'CountryCode', 'Language', 'Status', 'DateOfBirth',
       'Contact', 'CustomerGroup'],
      dtype='object')

In [35]:
# Apply transfer date to COLUMNS ('CreateDate','DateOfBirth')
customer_date_cols = ['CreateDate', 'DateOfBirth']


for col in customer_date_cols:
    if col in df_customer.columns:
        df_customer [col] = pd.to_datetime(df_customer [col],errors = "coerce")
        print (f" converted '{col}' successfully")
    else: 
        print (f" ERROR : '{col}' not found")

df_customer.info()

 converted 'CreateDate' successfully
 converted 'DateOfBirth' successfully
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 0 entries
Data columns (total 12 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   CustId           0 non-null      object
 1   AccountLocation  0 non-null      object
 2   Title            0 non-null      object
 3   FirstName        0 non-null      object
 4   LastName         0 non-null      object
 5   CreateDate       0 non-null      datetime64[ns]
 6   CountryCode      0 non-null      object
 7   Language         0 non-null      object
 8   Status           0 non-null      object
 9   DateOfBirth      0 non-null      datetime64[ns]
 10  Contact          0 non-null      object
 11  CustomerGroup    0 non-null      object
dtypes: datetime64[ns](2), object(10)
memory usage: 132.0+ bytes

In [42]:
# Bring the BETTING table fom SQL
query_betting = "SELECT * FROM betting"
df_betting = pd.read_sql(query_betting,cnx)

# 1. Data Loading

df_betting.info()
df_betting.columns

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 630 entries, 0 to 629
Data columns (total 25 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   AccountNo            630 non-null    object
 1   BetDate              630 non-null    object
 2   ClassId              630 non-null    object
 3   CategoryId           630 non-null    int64
 4   Source               630 non-null    object
 5   BetCount             630 non-null    int64
 6   Bet_Amt              630 non-null    float64
 7   Win_Amt              630 non-null    float64
 8   Product              630 non-null    object
 9   MyUnknownColumn      630 non-null    object
 10  MyUnknownColumn_[0]  630 non-null    object
 11  MyUnknownColumn_[1]  630 non-null    object
 12  AccountNo_[0]        630 non-null    object
 13  Bet_Amt_[0]          630 non-null    float64
 14  Product_[0]          630 non-null    object
 15  MyUnknownColumn_[2]  630 non-null    object
 16  AccountNo_[1]        630 non-null    object
 17  Vegas                630 non-null    object
 18  Sportsbook           630 non-null    object
 19  Games                630 non-null    object
 20  Casino               630 non-null    object
 21  Poker                630 non-null    object
 22  Bingo                630 non-null    object
 23  #N/A                 630 non-null    object
 24  Adjustments          630 non-null    object
dtypes: float64(3), int64(2), object(20)
memory usage: 123.2+ KB

/var/folders/5y/17c580n102l_8h1zl2chpc580000gn/T/ipykernel_70874/1191029005.py:3: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_betting = pd.read_sql(query_betting,cnx)

Index(['AccountNo', 'BetDate', 'ClassId', 'CategoryId', 'Source', 'BetCount',
       'Bet_Amt', 'Win_Amt', 'Product', 'MyUnknownColumn',
       'MyUnknownColumn_[0]', 'MyUnknownColumn_[1]', 'AccountNo_[0]',
       'Bet_Amt_[0]', 'Product_[0]', 'MyUnknownColumn_[2]', 'AccountNo_[1]',
       'Vegas', 'Sportsbook', 'Games', 'Casino', 'Poker', 'Bingo', '#N/A',
       'Adjustments'],
      dtype='object')

In [39]:
df_betting.head ()

,AccountNo,BetDate,ClassId,CategoryId,Source,BetCount,Bet_Amt,Win_Amt,Product,MyUnknownColumn,...,MyUnknownColumn_[2],AccountNo_[1],Vegas,Sportsbook,Games,Casino,Poker,Bingo,#N/A,Adjustments
0,01196ZZ,24/11/2012,22512_XFER,22512,I,189,29364.0,28947.00,Vegas,,...,,01196ZZ,"89,861","42,758",-,"1,262",-,-,-,-
1,00357DG,27/11/2012,22512_XFER,22512,I,1415,19835.0,18639.15,Vegas,,...,,00357DG,"191,805",100,"16,900",20,-,50,-,295
2,00357DG,24/11/2012,22512_XFER,22512,I,2026,19280.8,17904.50,Vegas,,...,,01284UW,-,"152,613",-,-,-,-,-,-
3,01196ZZ,19/12/2012,22512_XFER,22512,I,151,17301.0,16956.00,Vegas,,...,,01148BP,"7,030","290,958",-,-,-,-,500,-
4,01284UW,21/10/2012,46,5,I,25,16850.0,3319.11,Sportsbook,,...,,00497XG,-,-,"25,785",-,-,-,-,-

In [41]:
print(f"‚ÑπÔ∏è Data info: {df_betting.shape[0]} rows, {df_betting.shape[1]} columns")
print(f"üìä Initial columns: {list(df_betting.columns)}")

‚ÑπÔ∏è Data info: 630 rows, 25 columns
üìä Initial columns: ['AccountNo', 'BetDate', 'ClassId', 'CategoryId', 'Source', 'BetCount', 'Bet_Amt', 'Win_Amt', 'Product', 'MyUnknownColumn', 'MyUnknownColumn_[0]', 'MyUnknownColumn_[1]', 'AccountNo_[0]', 'Bet_Amt_[0]', 'Product_[0]', 'MyUnknownColumn_[2]', 'AccountNo_[1]', 'Vegas', 'Sportsbook', 'Games', 'Casino', 'Poker', 'Bingo', '#N/A', 'Adjustments']

In [66]:
 # 2. IDENTIFY THE COLUMNS THAT SHOULD BE CONSERVED
columns_to_keep = [
    'AccountNo', 'BetDate', 'ClassId', 'CategoryId', 'Source', 
    'BetCount', 'Bet_Amt', 'Win_Amt', 'Product'
]

 # Aplicated the filter to df to keep only the 9 columns
df_betting = df_betting [ columns_to_keep]

# Remove columns that completly empty
empty_cols = df_betting.columns[df_betting.isnull().all()]

df_betting = df_betting.drop(columns = empty_cols)

print(f"‚úÖ Clean columns. We have:{len(df_betting.columns)} columns now ")

 # Remove Duplicate/ Cleanup: excluded placeholder or error columns like MyUnknownColumn or #N/A.

df_betting_clean = df_betting.drop_duplicates() # Delete duplicate rows
print(f"Duplicate rows removed")

 # Null Value Processing (dropna)

# - If a bet does not have an [AccountNo] ,We cannot charge them or analyze their behavior.
# - If a bet does not have a [BetDate], we do not know when it occurred. We cannot see trends by month or year.
   
# We remove rows where the bet date is null [BetDate]

df_betting_clean = df_betting.dropna(subset=["BetDate"])

print(f"Null in BetDate: {df_betting_clean['BetDate'].isna().sum()}")

# Same thinf with [AccountNo]
df_betting_clean = df_betting.dropna(subset=["AccountNo"])
print(f"Null in : {df_betting_clean['AccountNo'].isna().sum()}")

‚úÖ Clean columns. We have:9 columns now
Duplicate rows removed
Null in BetDate: 0
Null in : 0

In [62]:
df_betting_clean.head(11)

,AccountNo,BetDate,ClassId,CategoryId,Source,BetCount,Bet_Amt,Win_Amt,Product
0,01196ZZ,24/11/2012,22512_XFER,22512,I,189,29364.00,28947.00,Vegas
1,00357DG,27/11/2012,22512_XFER,22512,I,1415,19835.00,18639.15,Vegas
2,00357DG,24/11/2012,22512_XFER,22512,I,2026,19280.80,17904.50,Vegas
3,01196ZZ,19/12/2012,22512_XFER,22512,I,151,17301.00,16956.00,Vegas
4,01284UW,21/10/2012,46,5,I,25,16850.00,3319.11,Sportsbook
5,00357DG,26/11/2012,22512_XFER,22512,I,1859,16078.50,12299.52,Vegas
6,00357DG,17/11/2012,22512_XFER,22512,I,1469,15204.00,14758.80,Vegas
7,00357DG,30/11/2012,22512_XFER,22512,I,920,15000.00,10169.80,Vegas
8,01284UW,14/10/2012,46,5,I,25,13700.00,10781.59,Sportsbook
9,01284UW,16/10/2012,36,5,I,16,13655.00,20945.93,Sportsbook
10,01284UW,03/11/2012,46,5,I,87,13405.14,3500.00,Sportsbook

In [68]:
#convert date column to date time
df_betting_clean['BetDate'] = pd.to_datetime(df_betting_clean ['BetDate'],
                                             format = '%d/%m/%Y', errors ='coerce')

In [69]:
df_betting_clean.dtypes

AccountNo             object
BetDate       datetime64[ns]
ClassId               object
CategoryId             int64
Source                object
BetCount               int64
Bet_Amt              float64
Win_Amt              float64
Product               object
dtype: object

In [70]:
# Are propely typed?
# Remove extra spaces?

# Missin values?
df_betting_clean.isnull().sum()

AccountNo     0
BetDate       0
ClassId       0
CategoryId    0
Source        0
BetCount      0
Bet_Amt       0
Win_Amt       0
Product       0
dtype: int64

In [ ]:
# Doubt : Check the last be? and First Bet is matter? here.??